.side-bar
  .__user-name
    .__top-items
      .__name
        dogman
      %ul.__function
        %li.mark
          %i{class: "far fa-edit"}
        %li.mark
          %i{class: "fas fa-cog"}
  .__group-list
    .groups
      .__group-name
        犬集会
      .__group-message
        ようこそ
