.wrapper
  = render "side_bar"

  .main-chat
    .__member--list
      .left-list
        犬集会
        .left-list__members
          Member:
          .members__famly
            ken
      .right-list
        Edit
    .__talk--list
      .over
        .over__user-name
          dogman
        .over__date
        2020/04/18
      .under
        .under__comment
          今日のご飯はなんだろな
      .over
        .over__user-name
          dogman
        .over__date
        2020/04/18
      .under
        .under__comment
          今日のご飯はなんだろな

    .message-form
      %form
      %input.message-form__comment{placeholder: 'type a message'}
        .comment__form-space
        %label.form-space__image
          %i{class:  "far fa-image"}
          %input.hide{type: "file"}
      %input.submit{type: 'submit', value: 'Send'}

     